.input-field label{
  color: #78909C;
}

.login-box{
  width: 100%;
  padding: 25px 25px 25px 25px;
  border: 1px solid #B0BEC5;
}

.login-box a{
  color: #90A4AE;
}

.btn-login{
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
}

.login-alert{
  width: 100%;
  background-color: #EF5350;
  box-shadow: 0px 0px 15px #E53935;
  padding: 10px;
  border-radius: 5px;
  color: #FFF;
  opacity: 0.6;
}

.login-alert:hover{
  cursor: pointer !important;
}
